<!DOCTYPE html>
<html>
<head>
	<title>Add a guitar</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="container">
	    <form action="/addguitar" method="POST">    
	    	<input type="text" class="form-control" name="brand" placeholder="Brand"/>
	    	<input type="text" class="form-control" name="model" placeholder="Model"/>  
	    	<input type="text" class="form-control" name="series" placeholder="Series"/> 
	    	<input type="text" class="form-control" name="color" placeholder="Color"/> 
	    	<input type="text" class="form-control" name="fingerboard" placeholder="Fingerboard wood"/> 
	    	<input type="text" class="form-control" name="body" placeholder="Body wood"/>
	    	<input type="text" class="form-control" name="img" placeholder="Image source"/>       
	    	<button class="btn btn-md btn-primary btn-block" type="submit">Add Guitar</button>   
	    </form>
  	</div>
</body>
</html>