<!DOCTYPE html>
<html>
<head>
	<title>Text page</title>
</head>
<body>
	<% guitars.forEach(function(guitar){ %>
		<div>
			<h4> <%= guitar.brand %></h4>
			<h4> <%= guitar.model %></h4>
		</div> 
	<% }); %>
</body>
</html>