body{
  font-family: 'Solway', serif;
}
.bg-dark-blue{
  background: #2c3e50;
}
h1 {
  font-weight: 700;

  font-size: 5em;
}
h2{
  font-size: 2.5em;
  margin: auto;
  margin-top: 100px;
  font-family: "Gravity-Regular";
}
h3{
  margin-left: 3%;
}
.form-container{
  margin: auto;
}
.description{
  margin: 10% auto;
}
.content{
  background: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding-top: 400px;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
  color: white;
  margin-bottom:70px;
}
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  font-family: 'Solway', serif;
  background-color: #fefefe;
  margin: 5% auto;
  padding: 50px;
  border: 5px solid #888;
  border-radius: 20px;
  width: 30%;
  -webkit-transition: opacity 5s;
  transition: opacity 5s;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  transition: background 0.4s;
}
.post-pic{
  width: 100%;
  height: 170px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.post{
  border: 2px solid #ddd;
  border-radius: 20px;
  padding: 17px;
  margin: auto;
  margin: 45px;
  font-family: 'Solway', serif;
  transition: border-color 0.4s;
}
.post:hover{
  border-color: black;
  transition: border-color 0.4s;
}
input{
  margin-bottom: 20px;
  border-radius: 10px;
}
strong{
  font-size: 20px;
  
  font-family: 'Solway', serif;
}
.guitar-collection{
  width: 300px;
  padding: 40px;
  margin: 5% auto;
  float: left;
  border: 2px solid #ddd;
  border-radius: 20px;
}
.queries{
  margin: 40px;
  margin-top: 100px;
  height: 40px;
  font-style: bold;
}
form{
  width: 300px;
  padding: 40px;
  margin: auto;
  margin-top: 170px;
  border: 2px solid #ddd;
  border-radius: 20px;
}
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.btn-quer{
  height: 80px;
}